<div class="current-members">

  <div class="row">
    <div class="col-md-2 name">
      <%= link_to current_user.full_name, user_path(current_user) %>
    </div>
    <div class="col-md-4 delete-x">
      <% if @project.memberships.count > 1 %>
        <%= @current_membership.status %>
        <%= link_to '(delete membership)', project_membership_path(@project, @current_membership), method: :delete,
          data: {confirm: "Are you sure you want to remove yourself from #{@project.name}?"} %>
      <% else %>
        <p>You are the last member</p>
      <% end %>
    </div>
  </div>

  <% @memberships.each do |member| %>
    <% unless member.user == current_user %>

      <div class="row member-users">
        <div class="col-md-2">
          <%= link_to member.user.full_name, user_path(member.user) %>
        </div>
        <div class="col-md-2">
          <%= member.status %>
        </div>
      </div>

    <% end %>
  <% end %>

</div>
