<div class="container page-top-buffer">

  <div class="page-header row">
    <h1 class="col-md-7">Tasks</h1>
    <div class="col-md-2 tasks-sort-links">
      <%= link_to_unless params[:sort] == "all", 'All', tasks_path(sort: :all, tableSort: :description) %>
      |
      <%= link_to_unless !params[:sort] || params[:sort] == "incomplete", 'Incomplete', tasks_path(sort: :incomplete, tableSort: :description) %>
    </div>
    <div class="col-md-3 tasks-create-button">
      <span class="pull-right">
        <%= link_to 'Download CSV', tasks_path(format: "csv"), class: "btn btn-info" %>
        <%= link_to 'Create Task', new_task_path, class: "btn btn-info" %>
      </span>
    </div>
  </div>
  <th colspan="3"></th>

  <table class="table">
    <thead>

      <tr>
        <th><%= sortable("description") %></th>
        <th class="text-center"><%= sortable("complete") %></th>
        <th class="text-center"><%= sortable("due_date") %></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= "alert alert-danger" if task.due_soon %>">
          <td class="col-md-3">
            <div class="pull-left tasks-td-top-buffer"><%= task.description %></div>
          </td>
          <td class="col-md-3 text-center">
            <div class="tasks-td-top-buffer">
              <%= if task.complete == false

                    link_to content_tag(:span, "", class: "glyphicon glyphicon-unchecked"),
                    toggleCompletion_path(currentId: task.id, sort: params[:sort], tableSort: params[:tableSort]),
                    class: "btn btn-default btn-sm"

                  elsif task.complete == true

                    link_to content_tag(:span, "", class: "glyphicon glyphicon-check"),
                    toggleCompletion_path(currentId: task.id, sort: params[:sort], tableSort: params[:tableSort]),
                    class: "btn btn-default btn-sm"

                  end %>
            </div>
          </td>
          <td class="col-md-3 text-center">
            <div class="tasks-td-top-buffer">
              <%= task.due_date.strftime('%m/%d/%y') %>
            </div>
          </td>
          <td class="col-md-3">
            <span class="pull-right">
              <%= link_to 'Show', task, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %>
              <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
