<div class="container">
  <p id="notice" class="alert alert-success col-md-12 text-center"><%= notice %></p>

  <p>
    <strong>Desription:</strong>
    <%= @task.desription %>
  </p>
  <p>
    <strong>Due:</strong>
    <%= @task.due_date %>
  </p>
  <p>
    <strong>Complete:</strong>
    <%= @task.complete %>
  </p>


  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
