<div class="container ">

  <h1><%= @task.description %></h1>
  <%=
    crumbs([
            {:name => "#{@project.name}", :link => "/projects/#{@project.id}"},
            {:name => @task.description, :link => "active"}
          ])

   %>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
  <p>
    <strong>Due:</strong>
    <%= @task.due_date.strftime('%m/%d/%y') %>
  </p>
  <p>
    <strong>Complete:</strong>
    <%= @task.complete %>
  </p>


  <%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
  <%= link_to 'Back', project_tasks_path %>
</div>
