<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>

  <%= render 'shared/errors', model: @user %>

  <div class="field form-group row">
      <%= f.label :first_name, :class => "col-md-2" %>
      <div class="col-md-4">
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :last_name, :class => "col-md-2" %>
      <div class="col-md-4">
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :email, :class => "col-md-2" %>
      <div class="col-md-4">
        <%= f.email_field :email, :class => "form-control" %>
      </div>
  </div>

  <% if !@user.valid? %>
    <div class="field form-group row">
        <%= f.label :password, :class => "col-md-2" %>
        <div class="col-md-4">
          <%= f.password_field :password, :class => "form-control" %>
        </div>
    </div>
    <div class="field form-group row">
        <%= f.label :password_confirmation, :class => "col-md-2" %>
        <div class="col-md-4">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
    </div>
  <% end %>

  <div class="field form-group row">
      <%= f.label :pivotal_tracker_token, :class => "col-md-2" %>
      <div class="col-md-4">
        <%= f.password_field :tracker_token, :class => "form-control" %>
      </div>
  </div>

  <% if admin? %>
    <div class="field form-group row">
      <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :admin %>
            <%= f.label :admin, :class => 'col-md-2' %>
          </label>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions form-group">
    <div class="col-md-2 col-md-offset-2">
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  </div>

  <% if @user.valid? %>
    <div class="form-group delete-user">
      <div class="well col-md-4 col-md-offset-2">
        <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger col-md-6 col-md-offset-3"%>
      </div>
    </div>
  <% end %>

<% end %>
