<div class="show-user">

  <div class="page-header row">
    <h1 class="col-md-11"><%= @user.full_name if @user.first_name %></h1>
    <div class="col-md-1 tasks-create-button">
      <% if current_user == @user %>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info pull-right" %>
      <% end %>
    </div>
  </div>

<div>

  <div class="row">
  <p class="col-md-2 user-info"><strong>First name:</strong></p>
    <p class="col-md-2"><%= @user.first_name %></p>
  </div>

  <div class="row">
  <p class="col-md-2 user-info"><strong>Last name:</strong></p>
    <p class="col-md-2"><%= @user.last_name %></p>
  </div>

  <div class="row">
  <p class="col-md-2 user-info"><strong>Email:</strong></p>
    <p class="col-md-2"><%= mail_to @user.email %></p>
  </div>

</div>
