-# jumbotron
.row
  .col-md-12
    .jumbotron
      %h1 gCamp
      %p Your life, organized
-# panels
.row
- @panel_elements.each do |element|
  .col-md-4
    .panel.panel-default.panel-image
      .panel-body=image_tag(element.first, :class => 'img-responsive')
    .panel.panel-primary.panel-content
      .panel-heading
        %h4.panel-title= element[1]
      .panel-body
        - if element.last.length == 1
          %p= element.last[0]
        - else
          %ul
            - element.last.each do |item|
              %li= item
-# quotes
.row
  .col-md-12
    .container
      - @quotes.each do |quote|
        %h4= quote.first
        %h5.home-quote
          %small= quote.last

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
%script{:src => "../../dist/js/bootstrap.min.js"}
%script{:src => "../../assets/js/ie10-viewport-bug-workaround.js"}
