<div class="project-show">

  <div class="page-header">
    <div class="row">
      <h1 class="col-md-10"><%= @project.name %></h1>
      <div class="col-md-2 tasks-create-button">
        <% if current_user.owner?(@project) %>
          <span class="pull-right">
            <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <%= crumbs([ {:name => "Projects", :link => "/projects"},
               {:name => "#{@project.name}", :link => "active"} ]) %>

  <div>
    <% if @project.tasks.length == 1 %>
      <%= link_to "1 Task", project_tasks_path(@project) %>
    <% else %>
      <%= link_to @project.tasks.length.to_s + " Tasks", project_tasks_path(@project) %>
    <% end %>
  </div>

  <br>

  <div>
    <% if @project.memberships.length == 1 %>
      <%= link_to "1 Member", project_memberships_path(@project) %>
    <% else %>
      <%= link_to @project.memberships.length.to_s + " Members", project_memberships_path(@project) %>
    <% end %>
  </div>

  <br>

  <% if current_user.owner?(@project) %>
    <div class="row destroy-box">
      <div class="col-md-12">
        <div class="well">
          <div class="row heading">
            <strong>Delete Project</strong>
          </div>
          <br>
          <div class="row content">
            <p>
              Deleting the project will also delete <%= @project.memberships.length %> memberships,
                <%= @project.tasks.length %> tasks and associated comments.
            </p>
          </div>
          <br>
          <div class="row destroy">
            <%= link_to 'Destroy', project_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>


</div>
